object HostGroup "gateway-server" {
  display_name = "Gateway Servers"
}

object HostGroup "vip-nodes" {
  display_name = "VIP Nodes"
}

object HostGroup "satellites" {
  display_name = "Satellites"
}
